In [70]:
#import libraries
import numpy as np
import pandas as pd
import camelot

In [12]:
# enter into the directory where our pdf has been stored
%cd drive/MyDrive/Dataset

/content/drive/MyDrive/Dataset

In [52]:
file='chittoor.pdf'
# read and store tables from pdf file
tables = camelot.read_pdf(file ,pages="all",flavor='stream')

UserWarning: No tables found in table area 1 [stream.py:365]
UserWarning: No tables found in table area 2 [stream.py:365]

In [135]:
# store data of tables into numpy array
def store_data(table_df):
  k=0
  table=np.array(table_df)
  # iterate over all rows of the table
  for row in table:
    if(len(row[0].split('.'))==2):
      string=row[0].split('.')[-1]
      list=['Andhra Pradesh','Chittoor',indicator_category[k],string,row[1],row[2]]
      data.append(list)
      k+=1
    
    elif(len(row[0].split('.'))>=2) and len(row[0].split('.')[0])<=3:
      string=""
      for i in row[0].split('.')[1:]:
        string+=i
        string+='.'
      string=string[:-1]
      list=['Andhra Pradesh','Chittoor',indicator_category[k],string,row[1],row[2]]
      data.append(list)
      k+=1

In [140]:
# columns of a dataframe
columns=['state_name','district_name','indicator_category','indicator','nfhs5_2019_20','nfhs4_2015_16']

# initialize and store indicator category
indicator_category=[]
for i in range(1,14):
  indicator_category.append('Population and Household Profile')
for i in range(14,16):
  indicator_category.append('Characteristics of Women (age 15-49 years)')
for i in range(16,20):
  indicator_category.append('Marriage and Fertility')
for i in range(20,28):
  indicator_category.append('Current Use of Family Planning Methods (currently married women age 15–49 years)')
for i in range(28,30):
  indicator_category.append('Unmet Need for Family Planning (currently married women age 15–49 years)')
for i in range(30,32):
  indicator_category.append('Quality of Family Planning Services')
for i in range(32,42):
  indicator_category.append('Maternal and Child Health')
for i in range(42,49):
  indicator_category.append('Delivery Care (for births in the 5 years before the survey)')
for i in range(49,61):
  indicator_category.append('Child Vaccinations and Vitamin A Supplementation')
for i in range(61,67):
  indicator_category.append('Treatment of Childhood Diseases (children under age 5 years)')
for i in range(67,78):
  indicator_category.append('Child Feeding Practices and Nutritional Status of Children')
for i in range(78,81):
  indicator_category.append('Nutritional Status of Women (age 15-49 years)')
for i in range(81,86):
  indicator_category.append('Anaemia among Children and Women')
for i in range(86,89):
  indicator_category.append('Blood Sugar Level among Adults (age 15 years and above)-Women')
for i in range(89,92):
  indicator_category.append('Blood Sugar Level among Adults (age 15 years and above)-Men')
for i in range(92,95):
  indicator_category.append('Hypertension among Adults (age 15 years and above)-Women')
for i in range(95,98):
  indicator_category.append('Hypertension among Adults (age 15 years and above)-Men')
for i in range(98,101):
  indicator_category.append('Screening for Cancer among Women (age 30-49 years)')
for i in range(101,105):
  indicator_category.append('Tobacco Use and Alcohol Consumption among Adults (age 15 years and above)')

# contain index values of each row of a table
index=np.arange(1,105)

In [136]:
# data is a numpy array which stores all entries of the tables
data=[]
for i in range(len(tables)):
  if i==2 or i==4 or i==6:
    store_data(tables[i].df)

In [142]:
# convert numpy array into dataframe where indexing has been start from 1
df=pd.DataFrame(data,columns=columns,index=index)

In [144]:
df  # visualize a dataframe which has been created

         state_name district_name  ... nfhs5_2019_20 nfhs4_2015_16
1    Andhra Pradesh      Chittoor  ...          65.6          65.0
2    Andhra Pradesh      Chittoor  ...          22.6          23.4
3    Andhra Pradesh      Chittoor  ...         1,024         1,079
4    Andhra Pradesh      Chittoor  ...         1,019         1,168
5    Andhra Pradesh      Chittoor  ...          94.7          86.4
..              ...           ...  ...           ...           ...
100  Andhra Pradesh      Chittoor  ...           4.0            na
101  Andhra Pradesh      Chittoor  ...           4.3            na
102  Andhra Pradesh      Chittoor  ...          18.7            na
103  Andhra Pradesh      Chittoor  ...           0.4            na
104  Andhra Pradesh      Chittoor  ...          18.3            na

[104 rows x 6 columns]

In [147]:
# save the data into .csv format
df.to_csv('final_data.csv')